* text=lf

*.cs text eol=lf diff=csharp
*.vb text eol=lf
*.resx text eol=lf
*.c text eol=lf diff=cpp
*.cpp text eol=lf diff=cpp
*.cxx text eol=lf diff=cpp
*.h text eol=lf diff=cpp
*.hxx text eol=lf diff=cpp
*.hpp text eol=lf diff=cpp
*.py text eol=lf
*.rb text eol=lf
*.java text eol=lf
*.html text eol=lf diff=html
*.htm text eol=lf diff=html
*.css text eol=lf
*.scss text eol=lf
*.sass text eol=lf
*.less text eol=lf
*.js text eol=lf
*.json text eol=lf
*.lisp text eol=lf
*.clj text eol=lf
*.sql text eol=lf
*.php text eol=lf
*.lua text eol=lf
*.m text eol=lf
*.asm text eol=lf
*.erl text eol=lf
*.fs text eol=lf
*.fsx text eol=lf
*.hs text eol=lf
*.yml text eol=lf
*.rs text eol=lf
*.sh text eol=lf
*.toml text eol=lf
*.md text eol=lf
*.pem text eol=lf
*.xml text eol=lf
*.svg -text
*.config text eol=lf
Dockerfile text eol=lf


*.csproj text eol=crlf
*.xproj text eol=crlf
*.vbproj text eol=crlf
*.fsproj text eol=crlf
*.dbproj text eol=crlf
*.nuspec text eol=crlf
*.props text eol=crlf
*.sln text eol=crlf
*.txt text eol=crlf
*.bat text eol=crlf

*.png binary
*.jpg binary
*.jpeg binary
*.pdf binary
*.bmp binary
*.ppm binary
*.gif binary
*.tif binary
*.tiff binary


.gitattributes text eol=lf
.gitignore text eol=lf