[package]
name = "imageflow_http_helpers"
version = "0.1.0"
authors = ["Lilith River <lilith@imazen.io>"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
imageflow_helpers = { path = "../imageflow_helpers", version = "*" }

hyper = { version = "0.13"}
reqwest = { version = "0.9"}
hyper-native-tls = { version = "*"}


[target.'cfg(not(any(target_os = "windows", target_os = "macos")))'.dependencies]
openssl = { version = "0.10"}
hyper-openssl = { version = "0.8"}
