[package]
name = "imageflow_types"
version = "0.1.0"
authors = ["Nathanael Jones <imageflow@imazen.io>"]
workspace = "../"
build = "build.rs"

[lib]
name="imageflow_types"
doctest = false

[dependencies]
serde = "1"
serde_json = "1"
serde_derive = "1"
lazy_static = "1"
regex = "0.2"
imageflow_helpers = { path = "../imageflow_helpers", version = "*" }
chrono = "0.4"
imgref = "1.3.5"
rgb = "0.8.11"

[build-dependencies]
quick-error = "1"
chrono = "0.4"

[features]
nightly = ["imageflow_helpers/nightly"]
